.NavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
}
.NavItems {
    display: inline-flex;
    align-items: center;
    column-gap: 3em;
}
.Link{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;

}
.Contact_Link{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: #271AC1 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #09090991;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: 0.9em;
}