.CONTACT_FORM_CONTAINER {
    display: flex;
    justify-content: space-between;
    background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    transition: 0.5s ease-in;
    /* min-height: 150vh; */
}
.CONTACT_FORM_SUB_CONTAINER_TWO {
    display: flex;
    flex-direction: column;
    background: transparent linear-gradient(180deg, #210045 0%, #0C0123 100%) 0% 0% no-repeat padding-box;
    color: var(--color);
    padding: 4em;
}
.CONTACT_FORM_SUB_CONTAINER_TWO_HEADING{
    font-family: var(--font-family-light);
    text-align: center;
    margin: 2em auto;
    line-height: 1.5em;
    font-weight: 600;
}

.CONTACT_FORM_SUB_CONTAINER_TWO
label,
input,
button,
textarea {
    margin-bottom: 1em;
}
.CONTACT_FORM_SUB_CONTAINER_TWO label {
    font-family: var(--font-family-light);
    font-size: 1em;
}
.CONTACT_FORM_SUB_CONTAINER_TWO input {
    border-radius: 15px;
    height: 50px;
    width: 100%;
    outline: none;
}
.CONTACT_FORM_SUB_CONTAINER_TWO textarea{
    border-radius: 15px;
    width: 100%;
    outline: none;
}
.CONTACT_FORM_SUB_CONTAINER_TWO
input[type='text'], 
input[type='email'], 
textarea {
    font-family: var(--font-family-light);
    font-size: 1em;
    padding-left: 1em;
}
.CONTACT_FORM_SUB_CONTAINER_TWO button {
    background: #271AC1 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #09090991;
    color: var(--color);
    padding: 1.5em;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: var(--font-family-light);
    cursor: pointer;
    width: 50%;
}