@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

:root {
  --color: #ffffff;
  ---font-family: 'Poppins', sans-serif;
  ---font-weight: 300;
  --secondary-color: #808080
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.APP_CONTAINER{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
